<style>
    .head1 {
        font-size: large;
        font-weight: lighter;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(36, 41, 53);
        border: 2px solid rgb(36, 41, 53);
        border-style:groove;
        color:rgb(85, 155, 199);
        border-right-color: rgb(185, 102, 7);
        border-left-color: rgb(185, 102, 7);
        padding: 1px;
    }
    .pstyle1 {
        font-weight: normal;
        font-size: 15px; font-family:'Courier New', Courier, monospace; background-color: rgb(36, 41, 53); border: 1px solid rgb(45, 57, 85);
        border-right-color: rgb(185, 102, 7); border-bottom-color: rgb(185, 102, 7); border-right-width: 2px; border-bottom-width: 1px;
        width: 29.5%; color:rgb(49, 94, 121);
    }
    .pstyle2 {
        font-weight: normal;
        font-size: 15px; font-family:'Courier New', Courier, monospace; background-color: rgb(36, 41, 53); border: 1px solid rgb(45, 57, 85);
        border-right-color: rgb(185, 102, 7); border-bottom-color: rgb(185, 102, 7); border-right-width: 2px; border-bottom-width: 1px;
        width: 29.5%; color:rgb(49, 94, 121);
    }
    .pstyle3 {
        font-weight: normal;
        font-size: 15px; font-family:'Courier New', Courier, monospace; background-color: rgb(36, 41, 53); border: 1px solid rgb(45, 57, 85);
        border-right-color: rgb(185, 102, 7); border-bottom-color: rgb(185, 102, 7); border-right-width: 2px; border-bottom-width: 1px;
        width: 29.5%; color:rgb(49, 94, 121);
    }
    .istyle1 { 
        padding: 25px; padding-right: 8px; padding-bottom: 10px;
    }
</style>

<header>
    <h1 class="head1">{{pageTitle}}</h1>
    <p class="pstyle1" style="color:rgb(235, 163, 68);"><a href="/">- Overview</a></p>
    <p class="pstyle2" style="color:rgb(235, 163, 68);"><a href="/about">- About</a></p>
    <p class="pstyle3" style="color:rgb(235, 163, 68);"><a href="/news">- News</a></p>
    <div>
        {{!-- images will serve as a future route for another app --}}
        <img class="istyle1" src="https://cdn.discordapp.com/attachments/483753659918843906/544682542800961546/skeletonLINK.png" alt="">
        <img class="istyle1" src="https://cdn.discordapp.com/attachments/483753659918843906/544730866736431107/skeletonHUB.png" alt="">
    </div>
</header>
