<style>
    .head1 {
        text-align: center;
        font-size: large;
        font-weight: lighter;
        font-family: 'Helvetica';
        background-color: rgb(7, 8, 8);
        border: 1px solid rgb(36, 41, 53);
        border-style:groove;
        color:rgb(85, 155, 199);
        border-color: rgb(9, 125, 219);
        padding: 10px;
    }
    .pstyle1 {
        font-weight: normal;
        font-size: 15px; font-family:'Helvetica'; background-color: rgb(118, 153, 199); border: 1px solid rgb(45, 57, 85);
        border-color: rgb(9, 125, 219); border-right-width: 2px; border-bottom-width: 1px;
        width: 29.5%; color:black; padding: 2px;
    }
    .pstyle2 {
        font-weight: normal;
        font-size: 15px; font-family:'Helvetica'; background-color: rgb(118, 153, 199); border: 1px solid rgb(45, 57, 85);
        border-color: rgb(9, 125, 219); border-right-width: 2px; border-bottom-width: 1px;
        width: 29.5%; color:black; padding: 2px;
    }
    .pstyle3 {
        font-weight: normal;
        font-size: 15px; font-family:'Helvetica'; background-color: rgb(118, 153, 199); border: 1px solid rgb(45, 57, 85);
        border-color: rgb(9, 125, 219); border-right-width: 2px; border-bottom-width: 1px;
        width: 29.5%; color:black; padding: 2px;
    }
    .istyle2 { 
       display: block; margin: 0 auto; max-width:100%; max-height:100%; 
    }
    a:visited {
        color: black;
    }
</style>

<header>
    <h1 class="head1">{{pageTitle}}</h1>
    <p class="pstyle1" style="color: black;"><a href="/">- Overview</a></p>
    <p class="pstyle2" style="color: black;"><a href="/about">- About</a></p>
    <p class="pstyle3" style="color: black;"><a href="/news">- News</a></p>
    <div>
        {{!-- images will serve as a future route for another app are subject to change with 'official icons' --}}
        <img class="istyle2" src="https://cdn.discordapp.com/attachments/483753659918843906/546396401727176717/LogoCorp.png" alt="">
    </div>
</header>
