<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Overview</title>
    </head>
    <div style="width: 1900px; max-width: 1920px; margin: 0 auto; max-height: height: 430px;">
     <body style="background-color:rgb(10, 10, 12);">
        {{> header}}

        {{> footer}}
     </body>
    </div>
</html>
