<style>
    .p1 {
        color:rgb(62, 177, 202); font-family: Helvetica; font-weight: normal; font-size: 14px;
    }
    .panel1 {
        margin: auto; 
        align-content: center;
        padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;
        text-align: center; color:rgb(99, 175, 192); font-family:'Courier New', Courier, monospace; font-weight: lighter; font-size: 12px;
        background-color:rgb(12, 12, 15); border-color: rgb(9, 125, 219); width: 570px; border-radius: 4px; border-style: solid;
        border-width: thin;
    }
    .bpanel1 {
        align-content: center; margin-bottom: auto;
        padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;
        text-align: center; color:rgb(62, 177, 202); font-family: Helvetica; font-weight: normal; font-size: 14px;
        background-color:rgb(12, 12, 15); border-color: rgb(57, 88, 112); height: 430px; border-radius: 1px;
        border-top-left-radius: 1px; border-top-right-radius: 1px; border-style: solid; border-width: 1px; display: table-cell;
    }
    .istyle1 { 
        padding: 25px;
    }
</style>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Overview</title>
    </head>
    <div style="width: 1880px; max-width: 1920px; margin: 0 auto; max-height: height: 430px;">
     <body style="background-color:rgb(16, 17, 19);">
        {{> header}}
            <p class="p1" style="text-align: center;">| Apps |</p>
        <div>
            <p class="panel1">
                <img class="istyle1" src="https://cdn.discordapp.com/attachments/483753659918843906/544682542800961546/skeletonLINK.png" alt="">
            </p>
        </div>
            <p class="p1" style="text-align: center;">| Blog |</p>
        <div>
            <p class="panel1">
                <img class="istyle1" src="https://cdn.discordapp.com/attachments/483753659918843906/544995689415966740/skeletonHUB.png" alt="">
            </p>
        </div>
        <br> <br> <br>
        <div style="display:table; width: 100%; max-width: 1920px; margin: 0 auto; table-layout:fixed; border-spacing: 10px;">
            <p class="bpanel1" style="text-align: center; color:rgb(99, 175, 192); font-family:'Helvetica', Courier, monospace;
            font-weight:lighter; font-size: 22px; border-top-color:rgb(9, 125, 219); border-top-width: thick; margin: auto;">Developers</p>
            <p class="bpanel1" style="text-align: center; color:rgb(99, 175, 192); font-family:'Helvetica', Courier, monospace;
            font-weight:lighter; font-size: 22px; border-top-color:rgb(9, 125, 219); border-top-width: thick; margin: auto">Projects</p>
            <p class="bpanel1" style="text-align: center; color:rgb(99, 175, 192); font-family:'Helvetica', Courier, monospace;
            font-weight:lighter; font-size: 22px; border-top-color:rgb(9, 125, 219); border-top-width: thick; margin: auto">Media</p>
            <p class="bpanel1" style="text-align: center; color:rgb(99, 175, 192); font-family:'Helvetica', Courier, monospace;
            font-weight:lighter; font-size: 22px; border-top-color:rgb(9, 125, 219); border-top-width: thick; margin: auto">Resources</p>
            <p class="bpanel1" style="text-align: center; color:rgb(99, 175, 192); font-family:'Helvetica', Courier, monospace;
            font-weight:lighter; font-size: 22px; border-top-color:rgb(9, 125, 219); border-top-width: thick; margin: auto">Contact</p>
        </div>
        {{> footer}}
     </body>
    </div>
</html>
