<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>
        <h2> / SERVERS DOWN /</h1>
        <p>- reasons for server downtime vary please come back when maintenance is finished -</p>
    </body>
</html>
