<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>News Page</title>
    </head>
    <body>
        {{> header}}
        <p>Put something here for the news page</p>

        {{> footer}}
    </body>
</html>
