<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>News Page</title>
    </head>
    <body style="background-color:rgb(22, 23, 23);">
        {{> header}}
        <p>Put something here for the news page</p>

        {{> footer}}
    </body>
</html>
